.grid-historia{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    .titulo_{
        grid-column: 1/4;
        grid-row: 1/2;
        background-color: coral;
    }
    .contenidos {
        grid-column: 1/3;
        grid-row: 2/3;
        background-color: lightgray;
    }
    .subtitulo {
        grid-column: 3/4;
        grid-row: 1/4;
    }
    }