.titulo- {
    background-color: lightskyblue;
}

.titulo_formulario {
    font-size: 50px;
    font-family: arial;
    font-style: oblique;
    margin-left: 350px;
    margin-right: 300px;
}

.text-formulario {
    background-color: lightpink;
    font-size: 30px;
    font-family: arial;
    font-style: italic;
}

.text-formulario_leter {
    font-size: 15px;
    font-family: arial;
    font-style: normal;
}

.pagina {
    font-size: 25px;
    font-family: arial;
    font-style: italic;
    line-height: 20px;
    
}

.btn {
    background-color: lightgreen;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}

.btn--limpiar {
    @extend .btn;
    background-color: rgb(211, 74, 25);
}

